{% load static %}

<html>
    <head>

      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/API_Client.css' %}">

        <title>Produktpass</title>

    </head>
    <body>

        <div>
            <!-- <h1><a href="/">Produktpass</a></h1> -->
            <h1>Dein Produktpass</h1>
        </div>

        <hr>
        <hr>

        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>
