{% extends 'API_Client/base.html' %}


{% block content %}

<h4>Maßnahmen auf dem Feld</h4>

<hr>


{% for i in nutzflaechenmassnahmen %}


<ul>
<div class="masShow">

    <p>Datum: <strong> {{ i.datum }} </strong> </p>
    <p>Maßnahme.: <strong> {{ i.massnahme }} </strong></p>
    <p>Nutzfahrzeug: <strong> {{ i.landwirtschftliches_nutzfahrzeug }} </strong> </p>
    <p>Bearbeitungszeit: <strong>{{i.startuhrzeit_der_bearbeitung}}</strong> - <strong>{{i.enduhrzeit_der_bearbeitung}}</strong></p>

</div><br>
</ul>

<br>

{% endfor %}


<h4><a href="."> Zurück zum Produktpass </a></h4>

{% endblock %}
