input:invalid {
  border: 2px dashed black;
}

input:valid {
  border: 2px solid black;
}

h1 {
    color: #483D8B;
}

h4 {
  text-decoration: underline;
  color: #000000
}

body {
    padding-left: 20px;
}

.masShow {
  width: 600px;
  border-width:        2px;
  border-style:        solid;
  border-color:        black;
}
